# Core
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
python-dotenv==1.0.1
typing-extensions==4.12.2
pydantic==2.7.1

# LLM + LangChain/LangSmith
langchain==0.2.14
langsmith==0.1.81

# Conector Gemini para LangChain (traz google-generativeai como dependência)
langchain-google-genai==1.0.6
google-generativeai==0.7.2

# Streamlit (UI)
streamlit==1.36.0

# Evita dor de cabeça com libs Google que usam protobuf
protobuf==4.25.3
